<p id="notice"><%= notice %> </p>
<p id="alert"><%= alert %></p>
<h1>Welcome</h1>
<% if user_signed_in? %>
<%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
<% else %>
<a href="/users/sign_up">S'inscrire</a>
<a href="/users/sign_in">Se connecter</a>
<% end %>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <% if post.user_id == 0 %>
  <p>Anonyme</p>
  <% else %>
  <%= post.user.username %>
  <% end %>
  <p>
    il y a <%= time_ago_in_words post.created_at %>
  </p>
  <p>
    <%= truncate post.text %>
  </p>
<% end %>

<p>
  <%= link_to "New post", new_post_path %>
</p>
