<p id="notice"><%= notice %> </p>
<p id="alert"><%= alert %></p>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <% if post.user_id == 0 %>
  <p>Anonyme</p>
  <% else %>
  <%= post.user.username %>
  <% end %>
  <p>
    il y a <%= time_ago_in_words post.created_at %>
  </p>
  <p>
    <%= truncate post.text %>
  </p>
<% end %>

<p>
  <%= link_to "Nouvel article", new_post_path %>
</p>
