<h1><%= @post.title %></h1>

<%= @post.text %>

<h2>Commentaire</h2>

<% @post.comments.each do |comment| %>
  <p><%= comment.text %></p>
  <p>Il y a <%= time_ago_in_words comment.created_at %></p>
  <p><%= link_to "Supprimer commentaire", [@post, comment], :method => :delete, :confirm => "Etes-vous sure ?" %></p>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
  <p><%= f.text_area :text, :size => "40x10" %></p>
  <p><%= f.submit "Poster un commentaire" %></p>
<% end %>

<p>
  <%= link_to "Précédent", posts_path %>
  |
  <%= link_to "Editer", edit_post_path(@post) %>
  |
  <%= link_to "Supprimer", @post, :method => :delete, :confirm => "Etes-vous sure ?" %>
</p>
